.single-project {
        margin-bottom:30px;
        background:#181A1C;
      }
      .single-project img {
          width:100%;
      }
      .project-description {
          padding:20px;
      }
      .project-description p {
          padding-left:0;
          text-align: left;
          text-indent: 40px;
      }
      .project-title {
          margin-top:15px;
          margin-bottom:15px;
          border-bottom:1px solid #FECE1A;
      }
      .project-title h3 {
          float:left;
          margin-top:0;
          padding:0;
          width:80%;
      }
      .project-title .close {
          color: #FECE1A;
          margin-top:10px;
      }
      .project-info span, .project-title h3 {
          color:#FECE1A;
      }
      .project-info {
          font-weight:100;
          padding:10px 0;
      }
      .project-info span {
          width: 150px;
          text-align: left;
          display: inline-block;
          float: left;
      }
      .project-info div {
          margin-bottom:5px;
      }
      .close {
          float: right;
          width: 40px;
          height: 40px;
          text-align: center;
      }
      #portfolio-grid .mix {
          opacity: 0;
          display: none;
      }

       .thumbnail {
          width:100%;
          height:100%;
          padding:0;
          overflow: hidden;
          position: relative;
          border:0;
          border-radius:0;
          box-shadow:none;
          text-align:center;
          background: #191a1c;
      }
      .thumbnail .more {
          display:block;
          z-index:4;
          position:absolute;
          top:-100px;
          left:50%;
          margin:0 auto;
          margin-left:-41px;
          width:80px;
          height:80px;
          font-size:40px;
          color:#fff;
          text-decoration:none;
          line-height: 70px;
          text-align: center;
      }
      .thumbnail:hover .more {
          top:40%;
          margin-top:-40px;
          -webkit-transition: all 0.3s ease-out;
          -moz-transition: all 0.3s ease-out;
          -o-transition: all 0.3 s ease-out;
          -ms-transition: all 0.3s ease-out;
          transition: all 0.3s ease-out;
      }
      .thumbnail h3, 
      .thumbnail p {
          margin:0;
          padding:0;
          position:relative;
          z-index:4;
      }
      .thumbnail h3 {
          color: #FECE1A;
          margin-top:10px;
          font-size:20px;
      }
      .thumbnail > p {
          padding-bottom:20px;
      }
      .thumbnail .mask {
          opacity:0.85;
          filter: alpha(opacity=85);
          top:100%;
          left:0;
          width:100%;
          height:100%;
          background:#181A1C;
          position:absolute;
          -webkit-transition: all 0.2s ease-out;
          -moz-transition: all 0.2s ease-out;
          -o-transition: all 0.2 s ease-out;
          -ms-transition: all 0.2s ease-out;
          transition: all 0.2s ease-out;
      }
      .thumbnail:hover .mask {
          top:0;
      }