	ErrorDocument 404 /error/404.php

    RewriteEngine On
    RewriteCond %{SCRIPT_FILENAME} !-f
    RewriteCond %{SCRIPT_FILENAME} !-d
	RewriteRule ^principal/?$ index.php [NC,L]
	RewriteRule ^jogos-online/?$ games.php [NC,L]
	RewriteRule ^conectividade-internet/?$ conectividade.php [NC,L]
	RewriteRule ^servicos-online-oferecidos/?$ servicos.php [NC,L]
	RewriteRule ^desenvolvimento-de-software-e-sites/?$ sistemas.php [NC,L]
	RewriteRule ^entre-em-contato-conosco/?$ contato.php [NC,L]
